{% extends 'account/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <a class="mb-1" href="{{ request.META.HTTP_REFERER }}">
            <button class="btn btn-outline-primary">Wróć</button>
        </a>

        <h3>{{ object }}</h3>

        <form method="get">
            <h5><select name="activity_age" style="border: none; text-align: center;"
                        onchange="this.form.submit()">
                <option {% if request.GET.activity_age == 'current' %}selected{% endif %} value="current">
                    Aktualne i przyszłe aktywności
                </option>
                <option {% if request.GET.activity_age == '30days' %}selected{% endif %} value="30days">
                    Zakończone miesiąc temu i przyszłe aktywności
                </option>
                <option {% if request.GET.activity_age == '90days' %}selected{% endif %} value="90days">
                    Zakończone 3 miesiące temu i przyszłe aktywności
                </option>
                <option {% if request.GET.activity_age == '180days' %}selected{% endif %} value="180days">
                    Zakończone 6 miesięcy temu i przyszłe aktywności
                </option>
                <option {% if request.GET.activity_age == 'all' %}selected{% endif %} value="all">
                    Wszystkie aktywności od początku
                </option>
            </select></h5>
        </form>

        <table class="table">
            <thead>
            <tr class="d-flex justify-content-center">
                <th class="col col-md-1 px-0" scope="col">#</th>
                <th class="col col-md-1 px-0" scope="col">nazwa</th>
                <th class="col col-md-1 px-0" scope="col">opis</th>
                <th class="col col-md-1 px-0" scope="col">początek</th>
                <th class="col col-md-1 px-0" scope="col">koniec</th>
                <th class="col col-md-1 px-0" scope="col">edycja</th>
                <th class="col col-md-1 px-0" scope="col">usunięcie</th>
            </tr>
            </thead>
            <tbody>
            {% for activity in activities %}
                <tr class="d-flex justify-content-center">
                    <th class="col col-md-1 px-0" scope="row">{{ forloop.counter }}</th>
                    <td class="col col-md-1 px-0">{{ activity.name }}</td>
                    <td class="col col-md-1 px-0">{{ activity.description }}</td>
                    <td class="col col-md-1 px-0">{{ activity.start_date }}</td>
                    <td class="col col-md-1 px-0">{{ activity.end_date }}</td>
                    <td class="col col-md-1 px-0">
                        <a href="{% url 'activity-update' activity.pk %}">
                            <button class="btn btn-outline-primary btn-sm">Edytuj</button>
                        </a>
                    </td>
                    <td class="col col-md-1 px-0">
                        <a href="{% url 'activity-delete' activity.pk %}">
                            <button class="btn btn-outline-danger btn-sm">Usuń</button>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr class="d-flex justify-content-center">
                    <td class="col col-md-7 px-0">Brak aktywności dla ww. żołnierza</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="mt-0" href="{% url 'activity-create' soldier_pk=object.pk %}">
            <button class="btn btn-outline-primary">Dodaj aktywność dla tego żołnierza</button>
        </a>

        <h5 class="mt-3">Dane żołnierza:</h5>

        <table class="table">
            <tbody>
            {% for field in soldier_fields %}
                <tr class="d-flex justify-content-center">
                    <th class="col col-md-1 px-0" scope="row">{{ field.label }}</th>
                    <td class="col col-md-2 px-0">{{ field.data|default_if_none:'' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="mt-0" href="{% url 'soldier-update' object.pk %}">
            <button class="btn btn-outline-primary">Zaktualizuj dane żołnierza</button>
        </a>

        <a class="mt-5" href="{% url 'soldier-delete' object.pk %}">
            <button class="btn btn-outline-danger">Usuń żołnierza</button>
        </a>
    </div>
{% endblock %}