{% extends 'account/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <form method="post" class="mt-3">
            {% csrf_token %}
            <p>Czy na pewno chcesz usunąć żołnierza "{{ object.rank }} {{ object.first_name }} {{ object.last_name }}"?
                Wszystkie jego dane zostaną skasowane.</p>

            <button type="submit" class="btn btn-outline-danger"
                    onclick="this.disabled=true; this.form.submit();">Potwierdź
            </button>
        </form>
    </div>
{% endblock %}