{% extends 'account/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <form method="get">
            <h5><select name="days_before" style="border: none; text-align: center;"
                        onchange="this.form.submit()">
                <option {% if request.session.days_before == 30 %}selected{% endif %} value="30">
                    Aktywności z ostatnich 30 dni do dzisiaj włącznie
                </option>
                <option {% if request.session.days_before == 90 %}selected{% endif %} value="90">
                    Aktywności z ostatnich 90 dni do dzisiaj włącznie
                </option>
                <option {% if request.session.days_before == 180 %}selected{% endif %} value="180">
                    Aktywności z ostatnich 180 dni do dzisiaj włącznie
                </option>
                <option {% if request.session.days_before == 9999 %}selected{% endif %} value="all">
                    Wszystkie aktywności do dzisiaj włącznie
                </option>
            </select></h5>
        </form>

        <table class="table">
            <thead>
            <tr class="d-flex justify-content-center">
                <th class="col col-md-1 px-0" scope="col">#</th>
                <th class="col col-md-2 px-0" scope="col">
                    <form method="get">
                        <input name="order_key" hidden value="last_name">
                        <button class="btn p-0"><b>{% if request.session.order_key == 'last_name' %}<u>{% endif %}
                            Nazwisko, imię, stopień
                            {% if request.session.order_key == 'last_name' %}</u>{% endif %}</b></button>
                    </form>
                </th>
                <th class="col col-md-1 px-0" scope="col">
                    <form method="get">
                        <input name="order_key" hidden value="L4">
                        <button class="btn p-0"><b>{% if request.session.order_key == 'L4' %}<u>{% endif %}
                            L4
                        {% if request.session.order_key == 'last_name' %}</u>{% endif %}</b></button>
                    </form>
                </th>
                <th class="col col-md-1 px-0" scope="col">
                    <form method="get">
                        <input name="order_key" hidden value="Dyżury">
                        <button class="btn p-0"><b>{% if request.session.order_key == 'Dyżury' %}<u>{% endif %}
                            Dyżury
                        {% if request.session.order_key == 'Dyżury' %}</u>{% endif %}</b></button>
                    </form>
                </th>
                <th class="col col-md-1 px-0" scope="col">
                    <form method="get">
                        <input name="order_key" hidden value="Służby">
                        <button class="btn p-0"><b>{% if request.session.order_key == 'Służby' %}<u>{% endif %}
                            Służby
                        {% if request.session.order_key == 'Służby' %}</u>{% endif %}</b></button>
                    </form>
                </th>
                <th class="col col-md-1 px-0" scope="col">
                    <form method="get">
                        <input name="order_key" hidden value="HDK">
                        <button class="btn p-0"><b>{% if request.session.order_key == 'HDK' %}<u>{% endif %}
                            HDK
                        {% if request.session.order_key == 'HDK' %}</u>{% endif %}</b></button>
                    </form>
                </th>
                <th class="col col-md-1 px-0" scope="col">
                    <form method="get">
                        <input name="order_key" hidden value="Urlopy">
                        <button class="btn p-0"><b>{% if request.session.order_key == 'Urlopy' %}<u>{% endif %}
                            Urlopy i wolne
                        {% if request.session.order_key == 'Urlopy' %}</u>{% endif %}</b></button>
                    </form>
                </th>
                <th class="col col-md-1 px-0" scope="col">
                    <form method="get">
                        <input name="order_key" hidden value="Kursy">
                        <button class="btn p-0"><b>{% if request.session.order_key == 'Kursy' %}<u>{% endif %}
                            Kursy
                        {% if request.session.order_key == 'Kursy' %}</u>{% endif %}</b></button>
                    </form>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for soldier in statistics %}
                <tr class="d-flex justify-content-center">
                    <th class="col col-md-1 px-0" scope="row">{{ forloop.counter }}</th>
                    <td class="col col-md-2 px-0">
                        <a class="text-decoration-none text-dark" href="{% url 'soldier-detail' soldier.pk %}">
                            {{ soldier.last_name }} {{ soldier.first_name }} ({{ soldier.rank }})</a></td>
                    <td class="col col-md-1 px-0">{{ soldier.L4 }}</td>
                    <td class="col col-md-1 px-0">{{ soldier.Dyżury }}</td>
                    <td class="col col-md-1 px-0">{{ soldier.Służby }}</td>
                    <td class="col col-md-1 px-0">{{ soldier.HDK }}</td>
                    <td class="col col-md-1 px-0">{{ soldier.Urlopy }}</td>
                    <td class="col col-md-1 px-0">{{ soldier.Kursy }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}